@font-face {
    font-family: "Futura";
    src: url("/fonts/futura\ light\ bt.ttf");
    font-weight: 100;
}

// COLOR VARIABLES
$color-primary-1: rgb(1,
159,
188);
$color-white: #fff;
// FONT VARIABLES
$font-primary: 'Futura';
// RESPONSIVE BREALPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% --> 1rem = 10px
}

body {
    font-family: $font-primary;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

// Hair a Chiller button 
.hairAchiller {
    background-image: -moz-linear-gradient( 90deg, rgb(20, 193, 165) 0%, rgb(126, 222, 206) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(20, 193, 165) 0%, rgb(126, 222, 206) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(20, 193, 165) 0%, rgb(126, 222, 206) 100%);
    border: 0;
    width: 167px;
    height: 38px;
    border-radius: 2.5rem;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.311;
    text-transform: uppercase;
    transition: all .2s;
}

.hairAchiller:hover {
    -webkit-transform: translateY(-1px);
transform: translateY(-1px);
box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
outline: none;
}

// White button 
.btn-white {
    width: 13.5rem;
    height: 3.5rem;
    border-radius: 10rem;
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: rgb(1, 159, 188);
    font-weight: bold;
    line-height: 1.311;
    letter-spacing: 1px;
    font-weight: 700;
    align-self: flex-end;
    position: absolute;
    top: 85%;
    left: 79.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-2 {
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(40, 40, 40);
    font-weight: bold;
    line-height: 1;
    padding: 3rem;
}

.heading-3 {
    font-size: 2.6rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    letter-spacing: 3px;
}

.heading-4 {
        text-transform: uppercase;
       font-size: 1.4rem;
        color: rgb(40, 40, 40);
        font-weight: bold;
        line-height: 1.311;
        margin-bottom: 2rem;
       
      
      
}

.chiller {
    color: $color-primary-1;
}