.callToAction-block-1 {
    height: 7.5rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    &__span {
        
            font-size: 2.4rem;
            font-family: "Futura";
            color: rgb(40, 40, 40);
            line-height: 4.362;
            font-weight: 100;
            
          
          
    }
    .hairAchiller{
        margin-left: 3rem;
    }
}