.callToAction-block-2 {
    height: 11rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;

    background-color: rgb(245, 245, 245);

    .callToWrapper {
        display: flex;
        align-items: center;
        
    }
}


   
  