.callToAction-block-3{
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    .span {
        letter-spacing: 2px;
    }
}