.testimonials {
    display: flex;
    flex-direction: column;
    .testimonial {
        width: 33.3%;
        position: relative;
        &-photo {
            height: 28rem;
            background-image: url('/img/testimonial-1.jpg');
            background-position: cover;
        }
        &__whiteSpace {
            height: 12rem;
        }
    }
}